* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.navigation {
    float: start;
    height: 20%;
}

.navigation a {
    height: 100%;
    display: table;
    float: right;
    padding: 30px 30px;
    background-color: #101010;
}

.navigation a li {
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    color: white;
}

.navigation a:hover {
    background-color: gray;
    color: #101010;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: justify;
    letter-spacing: 1px;
    padding: 3em 5%;
    background: #101010;
    color: #fff;
}

.image-width {
    width: 100%; /* Рис. 4 */
    vertical-align: middle;
    display: table-cell;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 2px 1px 5px #999999;
}

html, body {
    margin: 0;
}

.header {
    text-align: justify;
    letter-spacing: 1px;
    height: 8em;
    padding: 2em 5%;
    background: #101010;
    color: #fff;
}

.content_1, .content_2{
    float: left;
    margin: 40px 40px 1px 150px;
    width: 600px;
    height: 600px;
    text-align: justify;
    border-radius: 4px;
    align-content: center;
    /*vertical-align: middle;*/
    display: table-cell;
    font-size: 20px;
}

.text{
    text-align: justify;
    width: 300px;
}